* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utility class */

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.2rem;
}

.spacing-line{
    height: 1vh;
    width: 100%;
    background-color: #999999 ;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* small navbar */

nav {
    height: 8vh;
    gap: 20px;
    background-color: white;
}

.btn-r {
    background-color: #e50914;
    color: white;
    border: #e50914;
    font-weight: 700;
    padding: 3px 7px;
    border-radius: 16px;
}

/* main netflix section */




header {
    justify-content: space-between;
}


header img {
    width: 30%;
    /* height: 10%; */
}

.img-section {
    margin: 30px 30px;
    justify-content: flex-start;
    height: 9vh;
    width: 50%;
}


.btn-section {
    height: 9vh;
    width: 50%;
    margin: 30px 30px;
    justify-content: flex-end;
    gap: 25px;
}

.btn {
    padding: 12px 24px;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
}

/* main-section backgroud */
.main-section {
    background: rgba(0, 0, 0, 0.6) url(https://assets.nflxext.com/ffe/siteui/vlv3/5e48e7b6-350d-48d9-96d6-de8ca173c89f/598617d3-a31c-4df8-8410-fe9dd22f0562/CA-en-20221219-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 100vh;
    background-size: cover;
    background-blend-mode: darken;
}


/*  input-section  */

.input-heading {
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
    height: 50vh;
    margin-top: 12vh;
}


.input-heading h1{
    width: 50%;
}

/* /// search section - child */

.search-section{
    min-width: 70%;
    flex-wrap: wrap;
}

.search-section input{
    padding: 15px 40px;
    border-radius: 4px 0% 0% 4px;
    width: 48%;
    /* border: 0.1px solid gray; */
    font-size: large;
}

.btn-search{
    background-color: #e50914;
    color: white;
    border: #e50914;


    padding: 15px 40px;
    padding-inline: 70px;
    border-radius: 0px 4px 4px 0px;
    font-size: large;
}

/* .search-section {



} */


/* tv-section */

.tv-section{
    background-color: black;
    color: white; 
    margin: auto;
    gap: 40px;
    padding-inline: 40px;
}

.text-part{
    width: 35%;
    height: 40vh;
    text-align: start;
   flex-direction: column;
   align-items: flex-start;
   gap: 20px;
    
}

.live-pic-part{
    width: 35vw;
    justify-content: flex-start;
}

.live-pic-part img{
    margin-block: 8vh;
    width: 35vw;
}


/* questions section */

.question-section{
    min-height: 136vh;
    background-color: black;
    color: white;
    flex-direction: column;
    gap: 55px;
}

.questions-links{
    width: 55%;
    flex-direction: column;
    gap: 10px;
}

.questions-box{
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    font-weight: bold;
    width: 100%;
    padding: 25px;
    justify-content: flex-start;
    font-size: 1.25rem;

}


/* 
.questions-links a{
   
} */


/* email-again */

.email-again{
    margin-top: 2vh;
    flex-direction: column;
    width: 100%;
    gap: 15px;

}



/* footer */

.footer-container{
    height: 58vh;
    width: 55%;
    background-color: black;
    color: gray;
}

.footer-links{
    flex-direction: column;
    font-size: 0.75rem;
    align-items: flex-start;
    gap: 13px;
    margin-top: 25px;
}

.footer-links a{
    color: gray;

}

.footer-links a:hover{
    text-decoration: underline;
}

/* .items{

} */